* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style-type: none; }

header {
  background-color: rgba(145, 145, 145, 0.8);
  position: fixed;
  height: 150px;
  z-index: 2; }
  header nav {
    height: 100%; }
    header nav .row {
      height: 100%; }
      header nav .row div {
        margin: auto; }
      header nav .row h1 {
        color: white; }
        header nav .row h1 span {
          color: #6fa2cc; }
      header nav .row ul {
        color: white;
        height: 100%;
        margin-bottom: inherit; }
        header nav .row ul li {
          margin: auto; }

.hero {
  background-image: url("../images/background_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%); }
  .hero .container {
    height: 100%; }
    .hero .container .row {
      padding: 400px 0 260px 0; }
      .hero .container .row h2 {
        text-align: center;
        color: white;
        background-color: rgba(145, 145, 145, 0.8);
        font-family: "Segoe UI";
        font-weight: 300;
        font-size: 42px; }
      .hero .container .row .titleTop {
        width: 62%;
        margin: 10px auto; }
      .hero .container .row .titleBottom {
        width: 88%;
        margin: auto; }

.services {
  background-color: #4bcaff; }
  .services .row {
    padding-bottom: 80px; }
  .services h2 {
    font-size: 30px;
    font-family: 'Segoe UI';
    color: white;
    font-weight: 300;
    padding: 80px 0 40px 0; }
  .services h3 {
    font-size: 24px;
    font-family: "Segoe UI";
    color: white;
    font-weight: 600;
    padding: 20px 0; }
  .services p {
    font-size: 12px;
    font-family: "Segoe UI";
    color: white;
    font-weight: 600; }

.portfolio .menu_portfolio {
  display: flex;
  justify-content: space-between;
  padding: 80px 0; }
  .portfolio .menu_portfolio ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto 0; }
.portfolio .row {
  padding-bottom: 30px; }

.video {
  background-color: #515f67;
  color: white; }
  .video .row {
    padding: 80px 0; }
    .video .row h2 {
      padding-bottom: 40px; }
    .video .row p {
      padding-bottom: 0.5rem;
      font-size: 14px; }
    .video .row a {
      color: #353f46;
      padding: 15px 40px;
      border: 2px #353f46 solid; }

.twitter {
  background-color: #4bcaff;
  color: white; }
  .twitter .row {
    display: flex;
    flex-direction: column;
    padding: 80px 0; }
  .twitter .content_title {
    display: flex;
    justify-content: space-between; }
  .twitter .content_text {
    font-size: 28px;
    padding-top: 40px;
    line-height: 2; }

.photographer {
  background-image: url("../images/background_photographe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; }
  .photographer h2 {
    padding-top: 100px; }
  .photographer .row {
    padding-top: 50px;
    padding-bottom: 175px; }
    .photographer .row .content_text .text_top {
      padding-bottom: 35px; }
    .photographer .row .content_logo .logo {
      padding-top: 35px; }

/*# sourceMappingURL=style.css.map */
